SUPABASE_PROJECT_ID="frumqoxwisgigytdlvlj"
NEXT_PUBLIC_SUPABASE_URL=https://frumqoxwisgigytdlvlj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cL8KVEfSAI5KFbMjMaSUZw_AHDw5eM1

# Connect to Supabase via connection pooling (untuk aplikasi)
DATABASE_URL="postgresql://postgres.frumqoxwisgigytdlvlj:NbB2fEfge75777Ac@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection untuk Prisma migrate/push (port 5432, tanpa PgBouncer)
DIRECT_URL="postgresql://postgres.frumqoxwisgigytdlvlj:NbB2fEfge75777Ac@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"
BUCKET_NAME="decrodet"